<ng-progress></ng-progress>

<div class= "container-fluid">

    <nav class="nav navbar-dark" style="background-color: #14212b88;">
        <div class="navbar">     
            <a href="{{user.html_url}}" target="_blank" class =" btn btn-info btn-sm">User Profile on Github</a>
         </div>     
      </nav>
      <br>
  <div class = "jumbotron">
    <h1 style="text-align:center" class = "githeader"> <strong>Github Search Repo</strong> </h1> 
    <form>
      <div class="form-group">
        <input type="text" placeholder="Enter GitHub UserName Here" class="form-control" [(ngModel)] = "username" name="username">
      </div>
      <button type="submit" class= "btn btn-info bt-lg" (click)='submitUser()'>Search User</button>
    </form>
  </div>
  <h1 style="text-align:center" class="header"> <strong>User Profile</strong> </h1>
<div class = "container">
      <div class="card-styles">
        <div class ="panel-heading">
           <p style="font-size: 200%" class = "idname">{{user.name}}</p>
        </div>
        <br>
        <div class ="card">
            <div style = "text-align:center" class =" imgpadding" >
              <img src="{{user.avatar_url}}" class = "col-sm-3" alt="">
            </div>
            <br>
        
            <div class="row">
              <div class="col-md-4" >
                  <div class = "list-details">
                      <p>               
                          <span class = "label label-success"> <strong>Followers:</strong>  {{user.followers}} </span>
                          <span class = "label label-warning"> <strong>Following:</strong>  {{user.following}} </span>
                          <span class = "label label-danger"> <strong>Repositories: </strong> {{user.public_repos}} </span>  
                      </p>     
                    <p> <strong>User Name: </strong> {{ user.login}}</p>
                    <p *ngIf = "user.bio">{{user.bio}}</p> 
                    <p *ngIf = "user.email"> <strong>Email:</strong> {{user.email}}</p>                   
                    <p *ngIf = "user.location"> <strong>Location:</strong> {{user.location}}</p>
                    <p *ngIf = "user.created_at"><strong>Created At:</strong> {{user.created_at}}</p>
                    <br>
                                
                    </div>
              </div>
              <div class="col-md-8">
                                             
                    <h2 style="text-align:center"> <strong>Repositories</strong> </h2>
                    <br>
                    <div class = "row">  
                    <div id = "cardrepos" *ngFor= "let repo of repos" class = "card col-md-5 border-secondary" style = "width:50%">
                      <div class = "card-body" class ="card-title"> <strong> {{repo.name}} </strong> </div>
                       <div class = "card-body">{{repo.description}}</div>
                       <p><a href="{{repo.html_url}}" target = "_blank" class="btn btn-success btn-sm"> Repo Details on Github</a></p>                                     
                </div>
              </div>
                
            </div>  
        </div>
      </div>
</div>
</div>
